body {
    text-align: center;
    background-color: rgb(135, 146, 179);
}

button {
    background-color:rgb(71, 88, 138);
    font-size: 40px;
    color: silver;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}